# Django Core
Django==5.0.14
python-decouple==3.8
asgiref==3.10.0

# Database
psycopg2-binary==2.9.11
psycopg==3.2.13
dj-database-url==3.0.1

# Cache & Queue
django-redis==6.0.0
redis==7.1.0
hiredis==3.3.0

# Async Tasks
celery==5.5.3
django-celery-beat==2.8.1
django_celery_results==2.6.0

# Static Files & Compression
whitenoise==6.11.0
brotli==1.2.0

# Security & Rate Limiting
django-ratelimit==4.1.0
cryptography==46.0.3


# Monitoring & Error Tracking
sentry-sdk==2.46.0
psutil==5.9.8

# WSGI Server
gunicorn==23.0.0

# Development Server
Werkzeug==3.1.3
django-sslserver==0.22

# Storage (AWS S3 - Optional)
boto3==1.41.5
django-storages==1.14.6
s3transfer==0.15.0

# Reports & Data Processing
weasyprint==66.0
python-pptx==1.0.2
pandas==2.3.3
seaborn==0.13.2
matplotlib==3.10.7
pillow==12.0.0
xlsxwriter==3.2.9

# Interactive charts
plotly==5.15.0

# Testing
pytest==9.0.1
pytest-django==4.11.1
pytest-cov==7.0.0
Faker==38.2.0
factory_boy==3.3.3
coverage==7.12.0

# Development Tools
django-extensions==4.1
flake8==7.3.0
